/* 公司动态 */
.company-activities {
    margin-top: 88px;
}
.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.activity {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    padding: 24px;
    transition: 0.4s;
}
.act-image-wrapper {
    height: 255px;
    overflow: hidden;
    margin: -24px -24px 0;
}
.act-image-wrapper img {
    min-height: 300px;
    object-fit: cover;
}
.activity .meta {
    margin: 20px 0 12px;
    color: var(--text-color-light-gray);
    font-size: 12px;
    display: flex;
}
.activity .meta > p:last-child {
    margin-left: 36px;
}
.act-title {
    color: var(--text-color-dark);
    font-size: 18px;
    margin-bottom: 16px;
}
.activity article {
    color: var(--text-color-gray);
    letter-spacing: 0.54px;
    line-height: 24px;
}
.read-more-btn {
    border: 0;
    outline: 0;
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 6px 14px;
    margin-top: 24px;
}
.activity:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
}
